{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ajax Request</title>
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.css' %}"/>
</head>
<body>
<h3 id="h3">I am h3 tag</h3>
<form >
    <input type="text" id="name" name="name"><br><br>
  <input type="button" id="submit" value="Submit">
</form>
<script src="{% static 'blog/js/bootstrap.js' %}"></script>
<script src="{% static 'blog/js/jquery.js' %}"></script>
<script src="{% static 'blog/js/popper.js' %}"></script>


<script>
console.log("button clicked");
$("#submit").click(function (){
    //var name= $("#name").val()
    console.log("button clicked yes");
    });
</script>

<script>
    $("#submit").click(function(){
    $("#h3").hide();
    });
</script>
</body>
</html>